body {
    /* Achei essa solução pro fundo no codepen, eu só mudei as cores: https://codepen.io/kedar/pen/MpXgoR */
    background: -webkit-linear-gradient(110deg, #642DFA 60%, #2888DE 60%);
    background: -o-linear-gradient(110deg, #642DFA 60%, #2888DE 60%);
    background: -moz-linear-gradient(110deg, #642DFA 60%, #2888DE 60%);
    background: linear-gradient(110deg, #642DFA 60%, #2888DE 60%);

    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.perguntas {
    position: absolute;

    /* Efeito de Vidro */
    background: linear-gradient(135deg, rgba( 255, 255, 255, 0.2), rgba( 255, 255, 255, 0.1));
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);

    width: 700px;
    height: auto;
    padding: 20px;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    margin: auto;

}

.titulo {
    text-align: center;
    font-size: 1.6em;
    margin: 0 0 20px 0;
    font-style: oblique;
    font-weight: bolder;
}

form label, .input-padrao{
    flex-direction: column;
    display: flex;
    font-size: 1.3em;
    margin: 0 0 15px 0;
    width: 100%;
}

form label {
    margin-top: 1.2em;
}

.input-padrao {
    background: rgba( 255, 255, 255, 0.5);
    padding: 15px 20px;
    border-radius: 50px;
}

.resposta {
    background: rgba( 255, 255, 255, 0.5);
    margin: 15px 0;
    padding: 15px 20px;
    border-radius: 50px;
}

.enviar-formulario {
    margin: 20px 0;
    padding: 15px 20px;
    border-radius: 25px;
    text-align: center;
    background: rgba(98, 255, 6, 0.8);
    font-weight: bold;
    text-transform: uppercase;
    color: black;

    transition: all 0.5s;
}

.enviar-formulario:hover {
    background: gold;
}
